rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /temp/{fileName} {
      allow read: if true;
      allow write: if true;
    }

    match /users/{userId} {
      allow read: if true;
      allow write: if false;
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
